*{
    box-sizing: border-box;
    margin: auto;
    padding: 0;
}

header{
    margin-top: 10px;
    width: 60%;
    text-align: center;
    background-color: blue;
    color: #fff;
    padding: 5px;
}

form{
    margin-top: 10px;
    width: 60%;
    text-align: center;
}

input{
    border-radius: 5px;
    padding: 5px;
}

form img{
    float: left;
}

.campos{
    margin-top: 5px;
}

.buttons{
    margin-top: 10px;
}

button{
    padding: 5px;
    border-radius: 5px;
    background-color: green;
    color: aliceblue;
    font-weight: bold;
}

#resultado{
    margin-top: 10px;
    font-weight: bold;
}